
.central{
    background-color: #ff9900;
    width: 100%;
    min-height: 800px;
    overflow: auto;
    color: white;

}

.head {
    padding: 1%;
    height: 100px;
    text-align: center;
    background-color: #0e7a88;
}

.headLeft {
    float: left;
}

.headRight {
    float: right;
    display: flex;
}

.head button {
    outline: none;
    margin: 4px 10px 0px;
}

.head input {
    background-color: #8c4407;
    border-color: #8c4407;
    outline: none;
    color: white;
}

.bloco{
    width: auto;
    min-height: 100px;
    margin: 0% 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #0e7a88;
    
}

.InBloco{
    background-color: #399fbd;
    padding: 10px;
    display: flex;
}

.pizza {
    padding: 20px 20px 0px;
}

.blocoPizza {
    margin: 10px;
    width: 180px;
    display: inline-block;
}

.bebida {
    padding: 20px;
}

.blocoBebida {
    width: 220px;
    display: inline-block;
    margin: 10px;
}

.total {
    padding: 10px;
    background-color: #399fbd;
}

.total button {
    width: 70px;
    height: 50px;
    float: right;
    margin: 4px 10px 0px;
    outline: none;
    font-size: 16px;
}

.total p {
    margin: 20px 20px;
/*  width: 200px;   */
    display: inline-block;
}

.pra{
    margin-left: auto;
    margin-right: auto;
}
