<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/about.css">
</head>

<body>
    <%- include('./modulos/inicio.ejs') %>
    <div class="main">
        <h2>System pizzaria</h2>
        <p>Este site é um projeto pessoal para exercita e mostra minhas habilidades, basicamente é um simples sistema de
            cadastramento de ordem de pedidos para uma pizzaria embora possa ser utilizado com outros tipos de lojas, a
            parte de banco de dados é feita utilizando o mySQL.</p>
        <br>
        <p>Na home apareceram todos os pedidos registados no sistema algumas ações podem ser realizadas na página.</p>
        <br>
        <p>Em /cliente e /produto é realizado o cadastramento, edição e exclusão dos clientes e produtos.</p>
        <br>
        <p>Em /addPedido é realizado o cadastramento de novos pedidos.</p>
        <br>
        <p>O código completo está no meu GitHub: https://github.com/Shinigami5/Pizzaria_System</p>
    </div>
</body>

</html>