<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="/cliente.css">
</head>
<body>
    <%- include('./modulos/inicio.ejs') %>
    <p>teste</p>
</body>
</html>