<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>testes</p>
    <br>
    <br>
    <script>
        let pedido;
        const dados = fetch(`./teste/get`, {method: 'get' }).then((res) => {
        res.json().then((dado) => {
            console.log(dado);
            pedido = dado;
        })
    })
    </script>
</body>
</html>